@charset "uTF-8";

/*** Base ***/

html {
  /*
   * 各所のフォントサイズ(など)をremで指定しておけば、それぞれの比率を
   * 柔軟に設定しつつ、htmlのフォントサイズという基準値を変えるだけで
   * 全体を調節できる。
   * 他のルールでremを使う際に値が何pxとなるかを計算しやすくするため、
   * htmlのフォントサイズを10pxにする(1.2rem -> 12px)。主要なブラウザでは
   * デフォルトでフォントサイズが16pxなので、このように指定すれば10pxになる。
   * わざわざ%で指定するのは、ユーザがブラウザのデフォルトフォントサイズを
   * 変更している場合を考慮しているため。
   */
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

/*** Common ***/

/*
 * 古いIEをサポートする場合はもう少し複雑なスタイル定義が必要になる。
 * Ref: http://kojika17.com/2013/06/clearfix-2013.html
 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*** Header ***/

.header {
  width: 100%;
  padding: 28px 0 10px;

  /* 実際の画像は横幅1pxの点が縦に並んでいるだけだが、
   * それを横に敷き詰めることでストライプになる。
   */
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {

  /* 画像と同じ幅・サイズ */
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  overflow: hidden;
  text-indent: 100%;

  /* これがないとテキストがはみ出さずに折り返してしまう */
  white-space: nowrap;
}

.logo a {
  width: 100%;
  height: 100%;
  display: block;
}

.global-nav {
  margin-top: 15px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}

.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}

.global-nav .nav-item a:hover,
.global-nav .nav-item.active a {
  background-color: #d03c56;
  color: #fff;
}


/*** Wrapper ***/

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

/*** Main ***/

.main {
  display: block;
  float: left;
  width: 660px;
}

/*** Sidemenu ***/

.sidemenu {
  float: right;
  width: 275px;
}

/*** Footer ***/

.footer {
  width: 100%;
}
