@charset "uTF-8";

/*** Base ***/

html {
  /*
   * 各所のフォントサイズ(など)をremで指定しておけば、それぞれの比率を
   * 柔軟に設定しつつ、htmlのフォントサイズという基準値を変えるだけで
   * 全体を調節できる。
   * 他のルールでremを使う際に値が何pxとなるかを計算しやすくするため、
   * htmlのフォントサイズを10pxにする(1.2rem -> 12px)。主要なブラウザでは
   * デフォルトでフォントサイズが16pxなので、このように指定すれば10pxになる。
   * わざわざ%で指定するのは、ユーザがブラウザのデフォルトフォントサイズを
   * 変更している場合を考慮しているため。
   */
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

/*** Common ***/

/*
 * 古いIEをサポートする場合はもう少し複雑なスタイル定義が必要になる。
 * Ref: http://kojika17.com/2013/06/clearfix-2013.html
 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.heading {
  background: url('../images/bg-slash.gif');
  padding: 10px 12px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

/*** Header ***/

.header {
  width: 100%;
  padding: 28px 0 10px;

  /* 実際の画像は横幅1pxの点が縦に並んでいるだけだが、
   * それを横に敷き詰めることでストライプになる。
   */
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {

  /* 画像と同じ幅・サイズ */
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  overflow: hidden;
  text-indent: 100%;

  /* これがないとテキストがはみ出さずに折り返してしまう */
  white-space: nowrap;
}

.logo a {
  width: 100%;
  height: 100%;
  display: block;
}

.global-nav {
  margin-top: 15px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block;
  margin: 0 10px;
}

.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}

.global-nav .nav-item a:hover,
.global-nav .nav-item.active a {
  background-color: #d03c56;
  color: #fff;
}


/*** Wrapper ***/

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

/*** Main ***/

.main {
  display: block;
  float: left;
  width: 660px;
}

.hot-topic {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}

.hot-topic:hover {
  opacity: 0.85;
}

.hot-topic .image {
  float: left;
  width: 50%;
  height: 100%;
}

.hot-topic .content {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;

  /*
   * 単位なしで数値を指定すると、それを継承する子要素では
   * 各子要素のfont-sizeに1.6を掛けた値をline-heightにできる。
   */
  line-height: 1.6;
}

.hot-topic .title {
  color: #fff;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 2.0rem;
}

.hot-topic .desc {
  color: #ddc;
}

.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  color: #2d3d54;
  text-align: center;
  width: 140px;
  padding: 4px;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1;
}

.scroll-list {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;

  /*
   * inlineもしくはinline-blockの要素を横に並べる場合、
   * 要素間に改行があると半角スペースとして表示されてしまい、
   * デザインが崩れやすい。しかし親要素のfont-sizeを0にすれば
   * この問題は回避できる！
   */
  font-size: 0;
}

/*
 * nth-childだと要素の種類を考慮せずに兄弟要素内の
 * 順番を数える。ただこの場合は兄弟に同じ<li>しかいないので
 * どちらを使っても同じ。クラスの指定と併用しても、
 * 指定された順番の要素がそのクラスを持っているかどうかを
 * 見るだけで、そのクラスを持つ要素の中で順番を数えるわけではない
 * 点に注意。
 * また、背景画像を<li>に当ててしまうとホバー時に<a>の背景色で
 * 隠れてしまう。
 */
.scroll-list .scroll-item:nth-of-type(even) a {
  background: url('../images/bg-slash.gif');
}

.scroll-list .scroll-item a {
  display: block;
  padding: 10px 15px;
  color: #333;
  transition: 0.15s;
}

.scroll-list .scroll-item a:hover {
  background-color: #fafaf8;
}

.scroll-list .date {
  display: inline-block;
  width: 19%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.0rem;
}

.scroll-list .category {
  display: inline-block;
  width: 8%;
  border-radius: 5px;
  background-color: #d03c56;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.0rem;
  line-height: 16px;
}

.scroll-list .category.news {
  background-color: #2c3c53;
}

.scroll-list .title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
  font-size: 1.2rem;

  /* 入りきらないテキストを...にする場合は常にこの3つが必要になる。 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-box {
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}

.article-box:hover {
  opacity: 0.8;
}

.article-box:nth-of-type(odd) {
  float: left;
}

.article-box:nth-of-type(even) {
  float: right;
}

.article-box .title {
  margin-top: 30px;
  color: #555;
  font-size: 1.4rem;
  line-height: 1.6;
}

.article-box .desc {
  margin-top: 5px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-box .date {
  position: absolute;
  right: 0;
  bottom: 15px;
  display: block;
  width: 160px;
  padding: 4px;
  background-color: #b5d264;
  color: #2d3d54;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.article-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*** Sidemenu ***/

.sidemenu {
  float: right;
  width: 275px;
}

.ranking {
  list-style-type: none;
  margin-bottom: 30px;

  /*
   * CSS2.1からあるらしい ..!
   * 初期値は0だが指定もできる。
   * counter-reset: ranking 10;
   */
  counter-reset: ranking;
}

.ranking-item a {
  margin-top: 15px;
  display: block;
  font-size: 0;
  transition: opacity 0.15s;
}

.ranking-item a:hover {
  opacity :0.8;
}

.ranking-item .order {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  color: #aaa;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  /* height - border * 2 */
  line-height: 16px;

  /* 自身のbaselineと親要素のbaselineとの距離 */
  vertical-align: 20px;
}

.ranking-item .order::before {

  /* increment後の値が表示されるので最初は1 */
  content: counter(ranking);
  counter-increment: ranking;

  display: inline-block;
  font-size: 1.0rem;

  /* For Safari <8, IE9 */
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ranking-item:nth-of-type(1) .order,
.ranking-item:nth-of-type(2) .order,
.ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
}

.ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}

.ranking-item:nth-of-type(2) .order {
  background-color: #6e7b84;
}

.ranking-item:nth-of-type(3) .order {
  background-color: #a0541a;
}

.ranking-item .text {
  display: inline-block;
  width: 182px;
  color: #000;
  vertical-align: top;

  /*
   * 12px * 1.5 = 54px
   * (image height is 55px)
   */
  font-size: 1.2rem;
  line-height: 1.5;
}

.documents {
  margin: 10px 10px 30px;
}

.documents,
.documents ul {
  list-style-type: none;
}

.documents > li .title {
  margin: 15px 0;
  padding-left: 8px;
  border-left: 5px solid #d03c56;
  font-size: 1.4rem;
  line-height: 1.2;
}

.documents > li + li {
  margin-top: 25px;
}

.documents > li ul {
  margin: 15px;
}

.documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
  background: url('../images/arrow.gif') no-repeat left center;
}

.documents a:hover {
  text-decoration: underline;
}

/*** Footer ***/

.footer {
  width: 100%;
}
