@charset "UTF-8";

/*** base ***/

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;

  /*
   * 先頭のフォントから優先して割り当てられていく。今回使用するRalewayは
   * 欧文フォントのみなので、日本語と英数記号が混在する文章の場合、
   * 英数字の部分だけがRalewayで表示される形になる。
   */
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
